.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: -10%;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px; /* Largeur du toggle */
  height: 50px; /* Hauteur du toggle */
}

input[type="checkbox"] {
  display: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.slider-toggle {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #4CAF50;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.left {
  transform: translateX(0);
}

.right {
  transform: translateX(100%);
}

.slider-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

/* Positionnement des textes */
.slider-text.right {
  right: 15%;
}

.slider-text.left {
  left: 15%;
}

/* Quand un texte est actif */
.slider-text.active {
  color: #000; /* Couleur du texte actif */
  font-size: 22px; /* Taille plus grande pour l'effet d'accentuation */
  transform: translateY(-50%) scale(1.2); /* Agrandissement léger du texte actif */
}

