.animation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-out;
  z-index: 10;  /* Assure que les images restent devant le reste du contenu */
}

.logo,
.second-image,
.third-image {
  width: 400px;  /* Réduction de la taille pour les images */
  height: 400px;
  opacity: 0;
  transform: scale(0);
  margin: -190px 0;  /* Réduit l'espace entre les images (ajustable) */
  animation: fadeInScale 5s forwards;
}

.second-image {
  animation-delay: 1s; /* Retard de 1 seconde pour la deuxième image */
  width: 380px;  /* Réduction de la taille pour les images */
  height: 380px;
}

.third-image {
  animation-delay: 2s; /* Retard de 2 secondes pour la troisième image */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: opacity 5s ease-out 5s;  /* Délai avant la disparition */
}
