/* App.css */
html{
    margin: 0;
    padding: 0;
    height: 100%;
  }
 
  body {
    background-image: url('./assets/svg/FondDesktop.svg');
    background-size: cover; /* Pour que l'image de fond couvre tout l'écran */

  }


  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;  /* Fond gris clair pour contraster avec la carte */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 80%;
    max-width: 450px;  /* Limite la largeur */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre discrète */
  }
  
  .switch-container {
    margin-bottom: 30px; /* Espacement avant le contenu */
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Ajuste la hauteur selon ton contenu */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  